@charset "utf-8";

/* Media Queries */

    /* Media Query SOBRE MIM */

    @media only screen and (max-width:768px) {
        .about-me-principal {
            padding-top: 25px;
            flex-wrap: wrap;
            text-align: center;
        }
    }
    /* Media query SOBRE MIM IMAGEM */

    @media only screen and (max-width:768px) {
        .about-me-principal img {
            width: 36,5%;
            height: 36,5%;
            padding-bottom: 30px;
        }
    }

* {

    margin: 0;
    padding: 0;
}

:root {

    --cor1:#262b41;
    --cor2:#cbcbcd;
    --cor3:#7b7779;
    --cor4:#dfb82f;
    --cor5:#141516;
}

body {

    background-image: url('../assets/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

 /* Estilização do Header */
 
header {

    font-family: 'Montserrat', sans-serif;
}

nav {

    display: flex;
    position: relative;
    z-index: 99;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav li, .logo-position {

    display: flex;
    float: left;
}

.nav-item {

    float: left;
    margin: auto 100px auto 10px;
    list-style: none;
    width: 100%;
    margin-left: auto;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a {

    transition:all 0.5s ease;
    padding: 10px;
   
}

.nav-item:hover {

    background-color:var(--cor5);
    color: var(--cor4);
}

.logo {
    
    color: var(--cor4);
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;

}

/* Estilização da Main */

    /* Estilização do Início*/

.intro {

    margin: 0;
}

.intro-description {

    height: 76vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.intro-item-1 {

    font-size: 40px;
    color: var(--cor4);
    font-weight: bold;
}

.intro-item-2 {

    font-size: 82px;
    color: var(--cor4);
    font-weight: bold;
}

.intro-item-3 {

    font-size: 33px;
    color: var(--cor4);
    font-weight: bold;
}

.social {

    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-content {

    float: left;
    padding-left: 35px;
    padding-right: 35px;
}

    /* Estilização Sobre Mim*/

.about-me {
    
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-description {

    text-align: center;
    font-family: 'Montserrat';
}

.about-me-item-1 {

    font-size: 32px;
    color: var(--cor5);
    font-weight: bold;
    padding-top: 30px;
}

.about-me-item-2 {

    font-size: 52px;
    color: var(--cor4);
    font-weight: bold;
}

.about-me-principal {

    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 70%;  
}

.about-me-principal img {

    width: 36,5%;
    height: 36,5%;
    display: block;
    margin: auto;
}

.about-me-principal-item-1 {

    font-size: 1.7em;
    color: var(--cor3);
    font-family: 'Montserrat', sans-serif;
    height: 20%;
    flex-wrap: wrap;
}

.button-cv {
    padding-top: 30px;
    padding-bottom: 35px;
}

.download-button {

    font-family: 'Montserrat';
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px var(--cor4);
    cursor: pointer;
    font-weight: bolder;
    color: var(--cor4);
    background-color: #d4d4d4;
    font-size: 1.3rem;
    
}

.download-button:hover {

    color: var(--cor4);
    border: solid 2px var(--cor5);
    transition:all 0.5s ease;
    background-color: #141516;
    font-weight: bold;
}

    /* Estilização Habilidades */

.ability {
    background-color: #fff;
}

.ability-icons img {
    width: 70px;
    height: 70px;
}

.ability-description {

    text-align: center;
    font-family: 'Montserrat';
}

.ability-description-item-1 {

    font-size: 32px;
    color: var(--cor5);
    font-weight: bold;
    padding-top: 30px;
}

.ability-description-item-2 {

    font-size: 52px;
    color: var(--cor4);
    font-weight: bold;
}

.ability-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ability-icon {
    float: left;
    padding: 6%;
}