@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* Media Queries */

/* Media Query NAVBAR */


/* Media Query SOBRE MIM */

@media only screen and (max-width:768px) {
    .about-me-principal {
        padding-top: 25px;
        flex-wrap: wrap;
        text-align: center;
    }
}

/* Media query SOBRE MIM IMAGEM */

@media only screen and (max-width:768px) {
    .about-me-principal img {
        width: 36, 5%;
        height: 36, 5%;
        padding-bottom: 30px;
    }
}

/*Media Query HABILIDADES*/

@media only screen and (max-width:768px) {
    .description-me {
        flex-wrap: wrap;
        text-align: center;
    }
}


/* Media Query FOOTER */

@media only screen and (max-width:768px) {
    .footer-contents h3 {
        font-size: 20px !important;

    }

    .footer-contents a {
        font-size: 13px !important;

    }

    .footer-contents p {
        font-size: 13px !important;

    }

}

* {

    margin: 0;
    padding: 0;
}

:root {

    --cor1: #262b41;
    --cor2: #cbcbcd;
    --cor3: #7b7779;
    --cor4: #dfb82f;
    --cor5: #141516;
}

body {

    background-image: url('../assets/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* Estilização do Header */

.navbar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    
}

.menu {
    list-style: none;
    display: flex;
    gap: 8vh;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: auto;
    float: left;
    font-size: 15px;
    font-family: 'montserrat', sans-serif;
    
}

.logo {
    color: var(--cor4);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;

}

nav a {

    transition: all 0.5s ease;
    padding: 10px;

}

.nav-item:hover {

    background-color: var(--cor5);
    color: var(--cor4);
}

.btn-mobile {
    display: none;
}

.active {
    background-color: black;
}



/* Estilização da Main */

/* Estilização do Início*/

.intro {

    margin: 0;
}

.intro-description {

    height: 76vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.intro-item-1 {

    font-size: 40px;
    color: var(--cor4);
    font-weight: bold;
}

.intro-item-2 {

    font-size: 82px;
    color: var(--cor4);
    font-weight: bold;
}

.intro-item-3 {

    font-size: 33px;
    color: var(--cor4);
    font-weight: bold;
}

.social {

    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-content {

    float: left;
    padding-left: 35px;
    padding-right: 35px;
}

/* Estilização Sobre Mim*/

.about-me {

    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-description {

    text-align: center;
    font-family:'Montserrat', sans-serif;
}

.about-me-item-1 {

    font-size: 32px;
    color: var(--cor5);
    font-weight: bold;
    padding-top: 30px;
}

.about-me-item-2 {

    font-size: 52px;
    color: var(--cor4);
    font-weight: bold;
}

.about-me-principal {

    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 70%;
}

.about-me-principal img {

    width: 36, 5%;
    height: 36, 5%;
    display: block;
    margin: auto;
}

.about-me-principal-item-1 {

    font-size: 1.7em;
    color: var(--cor3);
    font-family: 'Montserrat', sans-serif;
    height: 20%;
    flex-wrap: wrap;
}

.button-cv {
    padding-top: 30px;
    padding-bottom: 35px;
}

.download-button {

    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px var(--cor4);
    cursor: pointer;
    font-weight: bolder;
    color: var(--cor4);
    background-color: #d4d4d4;
    font-size: 1.3rem;

}

.download-button:hover {

    color: var(--cor4);
    border: solid 2px var(--cor5);
    transition: all 0.5s ease;
    background-color: #141516;
    font-weight: bold;
}

/* Estilização Habilidades */

.ability {
    background-color: #fff;
    justify-content: center;
    padding-bottom: 40px;
}

.ability-icons img {
    width: 70px;
    height: 70px;
}

.ability-description {

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.ability-description-item-1 {

    font-size: 32px;
    color: var(--cor5);
    font-weight: bold;
    padding-top: 30px;
}

.ability-description-item-2 {

    font-size: 52px;
    color: var(--cor4);
    font-weight: bold;
}

.ability-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ability-icon {
    float: left;
    padding: 6%;
}

.description-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
    text-align: left;
}

@media only screen and (max-width:768px) {
    .description-me {
        flex-wrap: wrap;
        text-align: center;
        color: red;
    }
}

.perfil-list {
    width: 86%;
}

.perfil-item, .ability-item {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.description-me strong {
    color: #a38d0f;
    font-size: 1.3rem;
}

.description-me p {
    color: var(--cor3);
    font-size: 1.1rem;
    padding-top: 8px;
    padding-bottom: 10px;
}

/* Estilização Portfólio */

.portfolio {
    background-color: #d4d4d4;
    align-items: center;
}

.portfolio-description {

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-description-item-1 {

    font-size: 32px;
    color: var(--cor5);
    font-weight: bold;
    padding-top: 30px;
}

.portfolio-description-item-2 {

    font-size: 52px;
    color: var(--cor4);
    font-weight: bold;
}

/* Carrossel */

.carrossel {
    padding-top: 35px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.carrossel-imagens {

    display: none;
}

.carrossel-imagens img {
    border-radius: 20px;
}

.button-prev, .button-next {

    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.button-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.button-prev:hover, .button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrossel-image-description {
    color: red;
    font-size: 35px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.page-count {
    color: red;
    font-size: 25px;
    padding-top: 45px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 20px;
    margin-bottom: 30px;
}

.activated, .dot:hover {
    background-color: #717171;
}

/* Estilização Aba de Contato  */

.contact {
    background-color: white;
    align-items: center;
}

.contact-description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-description-item-1 {

    font-size: 32px;
    color: var(--cor5);
    font-weight: bold;
    padding-top: 30px;
}

.contact-description-item-2 {

    font-size: 52px;
    color: var(--cor4);
    font-weight: bold;
}

.contact-form {

    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input, form textarea {

    outline: unset;
    padding: 30px;
    font-size: 18px;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    margin-bottom: 16px;
    margin-top: 7px;
    border-radius: 2px;
    width: 40vw;
    font-family: 'Montserrat', sans-serif;
}

.send-button {

    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin: 35px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px var(--cor4);
    cursor: pointer;
    font-weight: bolder;
    color: var(--cor4);
    font-size: 1.3rem;

}

.send-button:hover {
    background-color: black;
    color: var(--cor4);
    border-color: black;
    transition: all 0.5s ease;
}

/* Estilizando Footer*/

footer p {
    color:var(--cor3);
    background-color: black;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

.footer-content {

    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer-contents {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;

}

.footer-content h3 {

    color: var(--cor4);
    font-weight: bolder;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.footer-content a {

    color: var(--cor3);
    font-size: 19px;
    text-decoration: none;
    margin-top: 17px;
    margin-bottom: 17px;
}

.footer-content p {
    color: var(--cor3);
    font-size: 19px;
}

.footer-contents img {

    padding-top: 40px;
    padding-bottom: 40px;
}


@media (max-width : 960px) {

    .btn-mobile {
        display: block;
    }
    #menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 100vh;
        color: none;
    }
    #menu.active {
        display: flex;
        font-size: 25px;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        color: none;
        z-index: 10000;
    }
    .nav-item {
        width: 92.6vw;
        align-items: center;
        font-size: 22px;
       
    }
    
}